  </main>
  <footer>
    <hr/>
    <a href="mailto:finn@lesueur.nz?subject=Finn.LeSueur%20Contact%20Form">Email Me</a> | <a href="/feeds/">RSS Feeds</a> | <a class="orange" href="https://www.buymeacoffee.com/FinnLeSueur" title="Support me on: Buy Me A Coffee">Buy Me A Coffee</a> 
  </footer>
  </body>
</html>
