html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(51, 51, 51);
  line-height: 1.75;
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "nav"
    "map"
    "content"
    "footer";
  grid-template-columns: 1fr;
  transition: all 300ms;
}

article:not(:last-of-type) {
  border-bottom: 1px solid #3498db;
}

article span.icon::before {
  padding-right: 0.5rem;
}

nav h2 {
  margin: 0.5rem 0;
}

nav, main, footer {
  padding: 0 0.5rem;
}

main img {
  border-radius: 0.25rem;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 100%;
}

p {
  font-size: 1rem;
  margin-top: 0;
}

.center { text-align: center; }

p > code {
  background-color: #f5f6fa;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: rgb(51, 51, 51);
}

figure {
  margin: auto 0 1rem 0;
  text-align: center;
}

figcaption { text-align: left; }

nav {
  grid-area: nav;
}

main {
  grid-area: content;
  position: relative;
  overflow-x: hidden;
  word-wrap: break-word;
}

footer {
  margin-top: 1rem;
  grid-area: footer;
}

main > ul,
nav > ul {
  list-style: none;
  padding-left: 0;
}

blockquote {
  border-left: 3px solid #bdc3c7;
  padding-left: 1rem;
  margin-left: 1rem;
}

.divided > li:not(:last-child) {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 1rem;
}

footer {
  flex-grow: 1;
}

a[download] {
  background-color: #27ae60;
  color: white;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 300ms;
  border-radius: 0.25rem;
}

a[download]:hover, a[download]:active {
  background-color: #2ecc71;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

a[target=_blank]::after {
  content: "↗";
  vertical-align: super;
  font-size: 0.75rem;
}

input[type=checkbox].toggle {
  width: 75px;
  height: 34px;
  z-index: 99999999;
}

input[type=checkbox].toggle,
.hamburger {
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
    margin: 0;
}

.hamburger {
    z-index: 9999999;
    box-shadow: 0 0px 15px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
}

.hamburger p {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-weight: 500;
}

.hamburger span {
    height: 2px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 2px;
    display: block;
    transition: all 500ms;
    width: 10px;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.toggle {
    z-index: 9999999;
    opacity: 0;
}

.toggle:hover {
    cursor: pointer;
}

.toggle ~ .nav-wrapper {
    transform: translateX(150%);
}

.toggle:checked ~ .nav-wrapper {
    transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
    transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(5px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-3px) rotateZ(-45deg)
}

.nav-wrapper {
  width: 100vw;
  position: absolute;
  left: 0;
  height: calc(100vh - 3.6rem);
  top: 3.6rem;
  transition: all 300ms;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  background-color: white;
  z-index: 999999;
}

.nav-wrapper ul {
  list-style: none;
}

h1 {
  line-height: 1.25;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

a {
  color: #3498db;
  text-decoration: none;
  border-bottom: 0;
}

a.home {
  color: rgb(51, 51, 51);
}

.menu {
  padding: 0;
}

.menu .active a {
  border-bottom: 1px solid #3498db;
}

.orange { color: #FF813F; }

hr {
  border: none;
  height: 1px;
  background-color: #bdc3c7;
  margin: 0 auto;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

time, figcaption {
  text-transform: uppercase;
  color: #7f8c8d;
  font-size: 0.8rem;
}

pre {
  padding: 0.25rem;
  border-radius: 0.25rem;
  overflow: auto;
  color: white;
  white-space: pre;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  word-wrap: normal;
  font-family: monospace;
}

pre {
  background: #76b852;
  background: -webkit-linear-gradient(45deg, #8DC26F, #76b852);
  background: linear-gradient(45deg, #8DC26F, #76b852);
}

code {
  margin: 0.25rem 0;
}

ul li p:first-of-type,
h2 + p,
h3 + p,
.sub + p {
  margin-top: 0.75rem;
}

.sub {
  color: gray;
  margin: -0.5rem 0;
  font-size: 0.9rem;
}

.emoji {
  font-size: 1.75rem;
}

#hikeMap {
  height: 50vh;
  grid-area: map;
}

.chart-container {
  margin-top: 1rem;
}

.hike-stats p {
  font-size: 0.8rem;
}

.archive {
  padding-left: 0;
}

.archive ul {
  list-style: none;
}

li.sport::before,
li.development::before,
li.hiking::before,
li.writing::before,
li.ipad::before,
li.photo::before {
  margin-right: 0.5rem;
}
li.sport::before,
article.sport span.icon::before {
  content: "🏃‍♂️";
}
li.ipad::before,
article.ipad span.icon::before {
  content: "📱";
}
li.development::before,
article.development span.icon::before {
  content: "💻";
}
li.hiking::before,
article.hiking span.icon::before {
  content: "🏔";
}
li.writing::before,
article.writing span.icon::before {
  content: "📚";
}
li.photo::before,
article.photos span.icon::before {
  content: "📸";
}

article.photo a { color: #EE5A24; }
article.photo:not(:last-of-type) { border-bottom: 1px solid #EE5A24; }

article.sport a,
article.hiking a { color: #009432;}
article.sport:not(:last-of-type),
article.hiking:not(:last-of-type) { border-bottom: 1px solid #009432; }

button {
  padding: 0.25rem 0.5rem;
  margin: 1rem auto;
  background-color: #3498db;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  text-align: center;
  font-size: 1.5rem;
  display: block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bmc-button img {
  width: 35px !important;
}

.bmc-button {
  line-height: 35px !important;
  height: 51px !important;
  min-width: 217px !important;
  display: inline-flex !important;
  color: #FFFFFF !important;
  background-color: #FF813F !important;
  border-radius: 5px !important;
  padding: 7px 10px 7px 10px !important;
  box-sizing: border-box !important;
}
.bmc-button span { margin-left: 1rem; }

.exif { list-style: none; padding-left: 0;}
.exif span { padding-left: 1.5rem; text-transform: none;}

.nav-buttons { text-align: center; }
.nav-buttons a { padding: 0.5rem 1rem; }

@media (min-width: 768px) {
  html, body {
    overflow-x: visible;
  }
  body {
    grid-template-columns: minmax(200px, 250px) 1fr;
    grid-template-areas:
      "map map"
      "nav content"
      "footer footer";
  }

  #hikeMap {left: calc((100vw - 100%) / -2); width: 100vw;}

  nav hr {display: none;}
  nav h2 { margin-top: 1rem; }
  main { padding-left: 6rem; }
  .toggle ~ .nav-wrapper {
    transform: none;
  }

  .nav-wrapper {
    position: relative;
    transform: translateX(0);
    /*height: auto;*/
    top: 0;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 7rem);
  }
  .mobile {
    display: none;
  }
  article span.icon::before {
    margin-left: -2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3d3d3d;
    color: white;
  }
  a {
    color: #4bcffa;
  }
  a.home {
    color: white;
  }
  time, figcaption {
    color: #d2dae2;
  }
  pre {
    background-color: #f5f6fa;
  }
  table thead {
    background-color: transparent;
  }
  table td {
      background-color: transparent;
  }
  table tr:nth-child(2n-1) td {
      background-color: transparent;
  }
  .nav-wrapper {
    background-color: #3d3d3d;
  }

  .hamburger span {
    background-color: white;
  }
  .hamburger {
    box-shadow: none;
  }
}